

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 2px solid rgb(252, 252, 252); */
    animation: ripple 2s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(39, 39, 39, 0.2);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(255, 254, 254, 0);

    }
}