.dashbrodBackground{
    background: url(../../src/assets/img/doctor-sidebar-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.dashbrodImg{
    border: 5px solid white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menuLi {
    position: relative; 
    transition: color 0.3s ease, transform 0.4s ease-in; /* Transition for color and transform */
}

/* .menuLi::before {
    content: '';
    border-left: 6px solid transparent; 
    height: 100%;
    position: absolute;
    left: 0;
    transition: border-left-color 0.3s ease; 
} */

.menuLi:hover::before,
.menuLi:hover {
    border-left-color: #008080; 
    transform: translateX(8px); 
    color: #008080;
}
