.login {
  background: linear-gradient(to bottom, #008080 0%, #0777a7 100%) !important;
  border-radius: 16px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-or {
  font-family: sans-serif;
  margin: 10px 50px;
  color: gray;
  text-align: center;
  font-size: 15px;
  max-width: 600px;
  position: relative;
  font-weight: 700;
}

.login-or:before {
  content: "";
  margin: '0 10px';
  display: block;
  width: 100px;
  height: 1px;
  background: #e5e5e5;
  left: 250px;
  top: 50%;
  position: absolute;
}

.login-or:after {
  content: "";
  margin: '0 10px';
  display: block;
  width: 100px;
  height: 1px;
  background: #e5e5e5;
  right: 250px;
  top: 50%;
  position: absolute;
}

.input-with-placeholder {
  width: 100%;
  position: relative;
}

.input-with-placeholder label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 300ms all;
}

.input-with-placeholder input {
  width: 100% !important;
  height: 40px;
  padding: 0 15px;
  outline: none;
  border-bottom: 1px solid gray;
}

.input-with-placeholder input[type="text"] {
  border: none !important;
}

.input-with-placeholder input:valid+label,
.input-with-placeholder input:focus+label {
  height: 50%;
  padding-left: 0;
  transform: translateY(-100%);
  font-size: 12px;
  color: #777;
  border: none !important
}

.input-with-placeholder {
  border: none !important;
  /* Remove default border */
  border-bottom: 1px solid rgb(238, 238, 238);
  /* Add bottom border */
}

.input-with-placeholder::focus {
  border: none;
}

.socialIcon i:hover {
  transition: all 0.3s ease-in;
  transform: rotate(360deg);
}
